<template>
  <div id="main-app" style="height: 100%;">
    <v-toolbar color="indigo" dark app>
      <v-toolbar-side-icon @click="showNav = !showNav">

      </v-toolbar-side-icon>
      <v-toolbar-title>Talenta</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn @click="openAboutMe" flat>About Me</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-navigation-drawer v-model="showNav" app width="220">
      <v-list class="pt-0" two-line>
        <v-divider></v-divider>
        <v-list-tile v-for="nav in sideNavItems" :to="nav.to" :key="nav.to">
          <v-list-tile-action>
            <v-icon>{{nav.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>{{nav.text}}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <router-view/>
  </div>
</template>

<script>
export default {
  data: () => ({
    icons: [
      ['fab', 'facebook'],
      ['fab', 'twitter'],
      ['fab', 'google-plus'],
      ['fab', 'linkedin'],
      ['fab', 'instagram']
    ],
    navItems: [
      {
        path: '/',
        icon: 'home',
        title: 'Home'
      },
      {
        path: '/app/dataset',
        icon: 'list',
        title: 'Dataset'
      },
      {
        path: '/app/data/import',
        icon: 'file_copy',
        title: 'Data'
      },
      {
        path: '/app/settings',
        icon: 'settings',
        title: 'Settings'
      },
      {
        path: '/app/testing-kfold',
        icon: 'text_fields',
        title: 'Import'
      },
      {
        path: '/logout',
        icon: 'power_settings_new',
        title: 'Logout'
      }
    ],
    showNav: false,
    sideNavItems: [
      {
        to: '/',
        icon: 'home',
        text: 'Home'
      },
      {
        to: '/app/data',
        icon: 'list',
        text: 'Data'
      },
      {
        to: '/app/settings',
        icon: 'build',
        text: 'Setting'
      },
      {
        to: '/app/classification',
        icon: 'dns',
        text: 'Hasil'
      },
      {
        to: '/app/accuracy',
        icon: 'assessment',
        text: 'Akurasi'
      },
      {
        to: '/app/sensitivity',
        icon: 'assignment_turned_in',
        text: 'Sensitivity'
      },
      {
        to: '/logout',
        icon: 'power_settings_new',
        text: 'Logout'
      }
    ]
  }),
  methods: {
    checkLogin() {
      const username = localStorage.getItem('bilton:username')
      if (username === null) {
        this.$router.push('/login')
      }
    },
    openAboutMe() {
      window.open('https://web.facebook.com/bilton.costa', '_blank')
    }
  },
  mounted() {
    this.checkLogin()
  }
}
</script>

<style>

</style>
