<template>
  <div id="data-list" style="height: 100%;">
    <div v-if="state === 'idle'">
      <v-layout row>
        <v-flex md6 xs12 class="text-xs-center">
          <v-toolbar flat color="white">
            <v-spacer></v-spacer>
            <v-toolbar-title>Sensitivitas</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card>
            <v-card-title>Ubah Bobot</v-card-title>
            <v-card-text>
              <v-text-field type="number" v-model.number="settings.pekerjaan.weight" label="Pekerjaan"></v-text-field>
              <v-text-field type="number" v-model.number="settings.penghasilan.weight" label="Penghasilan"></v-text-field>
              <v-text-field type="number" v-model.number="settings.jaminan.weight" label="Jaminan"></v-text-field>
              <v-text-field type="number" v-model.number="settings.kondisiTempatTinggal.weight" label="Kondisi Tempat Tinggal"></v-text-field>
              <v-text-field type="number" v-model.number="settings.tanggungan.weight" label="Tanggungan"></v-text-field>
              <v-text-field type="number" v-model.number="settings.jangkaAngsuran.weight" label="Jangka Angsuran"></v-text-field>
              <v-text-field type="number" v-model.number="settings.besarPinjaman.weight" label="Besar Pinjaman"></v-text-field>
              <v-text-field type="number" v-model.number="settings.pengeluaran.weight" label="Pengeluaran"></v-text-field>
            </v-card-text>
          </v-card>
          <v-btn
            large
            color="indigo"
            dark
            depressed
            class="order-button"
            @click="doSensitivity"
          >
            Urutkan Data!
          </v-btn>
        </v-flex>
      </v-layout>
    </div>
    
    <div v-if="state === 'result' && detailId === undefined">
      <v-toolbar flat color="white">
        <v-toolbar-title>Hasil Pengujian</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat dark color="indigo darken-2" @click="state = 'idle'">Ulangi</v-btn>
      </v-toolbar>
      <v-container fluid>
        <v-layout row>
          <v-flex md6 xs12>
            <v-list two-line>
              <template v-for="item in items">
                <v-list-tile avatar :key="`${item.row._id}-classfication-list`">
                  <v-list-tile-avatar>
                    <v-icon dark :color="item.match ? 'green' : 'red'">
                      {{item.match ? 'check' : 'close'}}
                    </v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.row.nama }}</v-list-tile-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn
                      color="indigo darken-3"
                      dark
                      icon
                      flat
                      @click="detailId = item.row._id"
                    >
                      <v-icon>menu</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider :key="`${item.row._id}-classification-divider`"/>
              </template>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <div v-if="detailId !== undefined">
      <v-toolbar flat color="white">
        <v-toolbar-side-icon @click="detailId = undefined">
          <v-icon>
            keyboard_arrow_left
          </v-icon>
        </v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-toolbar-title>Detail Klasifikasi</v-toolbar-title>
      </v-toolbar>

      <v-container fluid>
        <v-layout row>
          <v-flex md6 xs12>
            <v-card class="mb-4">
              <v-card-title>Bobot Asli</v-card-title>
              <v-card-text>
                <v-text-field label="Preferensi" :value="detailItem.original.pref" readonly />
                <v-text-field label="Ideal Negatif" :value="detailItem.original.idealNeg" readonly />
                <v-text-field label="Ideal Positif" :value="detailItem.original.idealPos" readonly />
              </v-card-text>
            </v-card>
            <v-card class="my-4">
              <v-card-title>Bobot Setelah Modifikasi</v-card-title>
              <v-card-text>
                <v-text-field label="Preferensi" :value="detailItem.modified.pref" readonly />
                <v-text-field label="Ideal Negatif" :value="detailItem.modified.idealNeg" readonly />
                <v-text-field label="Ideal Positif" :value="detailItem.modified.idealPos" readonly />
              </v-card-text>
            </v-card>
            <v-card class="my-4">
              <v-card-title>Bobot Setelah Modifikasi</v-card-title>
              <v-card-text></v-card-text>
              <penerima-editor :penerima="detailItem.row" readonly></penerima-editor>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>

    <loader :show="showLoader"></loader>
  </div>
</template>

<script>
import Loader from '@/components/Loader'
import settingsAPI from '@/services/settings'
import defaultSettings from '@/services/data'
import PenerimaEditor from '@/components/PenerimaEditor'
import sensitivityAPI from '@/services/sensitivity'

export default {
  name: 'Classification',
  components: {
    Loader,
    PenerimaEditor
  },
  data: () => ({
    addDialog: false,
    state: 'idle',
    items: [],
    hit: 0,
    keyword: '',
    loading: false,
    detailId: undefined,
    settings: defaultSettings
  }),
  methods: {
    async doSensitivity () {
      this.state = 'loading'
      const settings = this.settings
      const prio = [
        settings.pekerjaan.weight,
        settings.penghasilan.weight,
        settings.jaminan.weight,
        settings.kondisiTempatTinggal.weight,
        settings.tanggungan.weight,
        settings.jangkaAngsuran.weight,
        settings.besarPinjaman.weight,
        settings.pengeluaran.weight
      ]
      const result = await sensitivityAPI.post(prio)
      this.state = 'result'
      this.items = result.paired
      this.hit = result.totalEquals
    },
    async getSettings () {
      this.loading = true
      try {
        const settings = await settingsAPI.get()
        this.settings = settings
      } catch (err) {
        console.log(err)
        alert('Gagal memuat pengaturan')
      } finally {
        this.loading = false
      }
    },
    async reload () {
      this.getSettings()
    }
  },
  computed: {
    showLoader () {
      return this.state === 'loading'
    },
    detailItem () {
      if (this.detailId === undefined) {
        return undefined
      }
      if (this.items.length === 0) {
        return undefined
      }
      return this.items.find(item => item.row._id === this.detailId)
    }
  },
  mounted () {
    this.reload()
  }
}
</script>

<style lang="scss">
$order-space: 30px;
.order-button {
  margin-top: $order-space;
  margin-bottom: $order-space;
}
</style>
