<template>
  <v-dialog :value="true" persistent width=500>
    <v-card>
      <v-toolbar dark color="blue">
        <v-toolbar-title>Login Terlebih Dahulu</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-text-field label="Username" v-model="username"/>
        <v-text-field label="Password" v-model="password" type="password"/>
      </v-card-text>
      <v-card-actions>
        <v-btn dark color="blue" @click="login">
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import api from '@/services/api'

export default {
  name: 'Login',
  data: () => ({
    username: '',
    password: ''
  }),
  methods: {
    login() {
      const payload = {
        username: this.username,
        password: this.password
      }
      api.login(payload)
        .then(() => {
          alert('Login berhasil')
          localStorage.setItem('bilton:username', 'bilton')
          this.$router.push('/app/data')
        })
        .catch(err => {
          console.log(err)
          alert('Terjadi kesalahan. Coba ulangi!')
        })
    }
  }
}
</script>

<style>

</style>
