<template>
  <v-container fluid fill-height class="pa-0 indigo darken-2">
    <v-layout column justify-center align-center>
        <div class="white--text display-1">Sukses Logout...</div>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: true
  }),
  mounted() {
    setTimeout(() => {
      localStorage.clear('bilton:username')
      this.$router.push('/')
    }, 3000)
  },
  beforeDestroy() {
    this.dialog = false
  }
}
</script>

<style>

</style>
