<template>
  <v-container fluid fill-height v-if="show" class="ksu-loader">
    <v-layout fill-height justify-center align-center>
      <v-progress-circular
        width="16"
        size="126"
        color="indigo"
        indeterminate
      >
      </v-progress-circular>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Loader',
  props: ['show']
}
</script>

<style lang="scss">
  .ksu-loader {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
  }
</style>
